*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/*
:root{
    --background: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #ff0000;
    --primary-color-ligth: #f6fsff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --active-color: #d5d2d2;
    --button-color:#ff0000;
    --button-background: #000000;
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.875rem;
  --smallFontSize: 0.75rem;
  --smallestFontSize: 0.625rem;
}

.flex{
  display: flex;
  align-items: center;
 
}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video{
  width: 100%;
  height: 100%;

}

.message{
  display: none;

}

.showMessage{
  display: block;
  color: white;
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn{
  border: none;
  outline: none;
  color: grey;
  border-radius: 8px;
  padding: 8rem 1rem;
  cursor: pointer;
}

.btn .icon{
  margin-left: 0.5rem;
}

.btn:hover{
  background: rgb(255, 0, 0);
  color: var(--primary-color);
  
}*/