@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.russo-one-regular {
    font-family: "Russo One", system-ui;
    font-weight: 400;
    font-style: normal;
}


.index-user-body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.index-responder-header {
    background-image: url(/src/Components/Assets/newbackground.jpg);
    height: 4.5vw;
    display: flex;
    align-items: center;
}

.index-main-text {
    color: white;
    font-family: 'Russo One', Helvetica, sans-serif;
    font-weight: 340;
    font-size: 2.4vw;
    margin: 0 auto;
    text-align: center;
}


.index-menu-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 2vw;
    margin-left: 2vw;
    align-items: center;
}

.user-header {
    color: white;
    padding: 8vw;
    text-align: left;
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: bold;
}

.index-header-tab {
    background-color: #D9D9D9;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: 2.5px solid #000000;
    outline-offset: -2.4px;
    flex-shrink: 0;
    height: 5vw;
}

.index-header-tab .index-menu-container {
    display: flex;
    align-items: center;
}

.index-menu-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    cursor: pointer;
    padding-left: 5px;
}

.index-header-tab .index-user-actions {
    display: flex;
    gap: 2vw;
}

.index-profile-btn,
.index-logout-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    cursor: pointer;
}

.index-logout-btn {
    margin-right: 1vw;
}

.index-profile-btn {
    margin-right: 2vw;
}

.index-tabs-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D9D9D9;
    padding: 2vw;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    width: 100%;
    padding: 2vw 0;
    position: relative;
}

.map-container {
    width: 35vw;
    height: 30vw;
    position: relative;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 2vw;
}

.responder-situation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
}

.situation-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 3vw;
    color: #000000;
    margin-top: 0.3vw;
    text-align: center;
}

.status-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 3vw;
    color: #000000;
    margin-top: 0.3vw;
    text-align: center;
}

.situation-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-btn,
.unavailable-btn {
    color: #ffffff;
    border: none;
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 2vw;
    padding: 1vw 2vw;
    margin: 0 1vw;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.active-btn {
    background-color: green;
}

.unavailable-btn {
    background-color: red;
}

.active-btn:hover,
.unavailable-btn:hover {
    transform: scale(1.1);
}

.active-btn:active,
.unavailable-btn:active {
    transform: scale(0.9);
}

.active-btn:disabled,
.unavailable-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s;
}

.report-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
}


.report-header-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 3vw;
    color: red;
    margin-bottom: 1vw;
    text-align: left;
}

.report-parent-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.report-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    margin-right: 2vw;
}

.notif-picture-container {
    width: 35vw;
    height: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: right;
    margin-left: 2vw;
    margin-top: -3vw;
}


.respond-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.d1,
.d2,
.d3,
.d4,
.d5,
.d6 {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #000000;
    margin-top: 0.3vw;
    text-align: left;
}

.respond-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw 0;
    position: relative;
    min-height: 6vw;
    width: 100%;
}

.respond-btn,
.respond-text {
    position: absolute;
    transition: opacity 0.5s ease;
}

.respond-btn {
    background-color: green;
    color: white;
    font-size: 4vw;
    font-family: 'Russo One', Helvetica, sans-serif;
    padding: 0.8vw 2vw;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 2vw;
}

.button-hidden {
    opacity: 0;
}

.text-visible {
    opacity: 1;
}

.respond-btn:hover {
    transform: scale(1.1);
}

.respond-btn:active {
    transform: scale(0.9);
}

.respond-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 4vw;
    color: red;
    text-align: center;
    margin: 1vw 0;
    opacity: 0;
}

.text-visible {
    opacity: 1;
}

.text-hidden {
    display: none;
}

.button-hidden {
    opacity: 0;
}

.final-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 5vw;
    color: green;
    text-align: center;
    margin: 1vw 0;
}

.final-layout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vw;
    margin-bottom: 2vw;
}

.picture-container {
    position: relative;
    width: 45vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-right: 2vw;
}


.scene-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}

.final-report-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3vw;
}

.freport-header-text {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 3vw;
    color: red;
    margin-bottom: 1vw;
    text-align: left;
}

.final-report-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fd1,
.fd2,
.fd3,
.fd4,
.fd5,
.fd6 {
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 1.5vw;
    color: #000000;
    margin-top: 0.3vw;
    text-align: left;
    padding: 0.5vw;
}

.mmb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 2vw;
}

.main-menu-btn {
    background-color: green;
    color: white;
    font-family: 'Russo One', Helvetica, sans-serif;
    font-size: 2vw;
    padding: 1vw 2vw;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.main-menu-btn:hover {
    transform: scale(1.1);
}

.fake-report-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.fake-report-btn {
    background-color: red;
    color: white;
    font-size: 2.5vw;
    font-family: 'Russo One', Helvetica, sans-serif;
    padding: 0.8vw 2vw;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.fake-report-btn:hover {
    transform: scale(1.1);
}

.fake-report-btn:active {
    transform: scale(0.9);
}

@media (max-width: 480px) and (orientation: portrait) {
    .index-responder-header {
        height: 15vw !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        min-height: 15vw !important;
        max-height: 15vw !important;
        box-sizing: border-box !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 10;
    }

    .index-main-text {
        font-size: 6vw !important;
        display: flex !important;
        text-align: center !important;
    }

    .index-header-tab {
        height: 15vw !important;
        display: flex !important;
    }

    .index-menu-text {
        font-size: 5vw !important;
    }

    .index-menu-btn,
    .index-profile-btn,
    .index-logout-btn {
        font-size: 5vw !important;
    }

    .index-tabs-reporter {
        padding: 5vw !important;
        display: flex;
        flex-direction: column;
    }

    .parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 90vw;
        padding: 2vw 0;
        position: relative;
        margin-left: 5vw;
    }


    .map-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .responder-situation {
        margin-top: 20vw;
    }

    .situation-text,
    .status-text {
        font-size: 8vw;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        margin-top: 4vw;
        padding: 2vw;
    }

    .active-btn,
    .unavailable-btn {
        border: none;
        font-size: 9vw;
        padding: 2vw 4vw;
        margin: 1vw 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .report-header-text {
        font-size: 8vw;
    }

    .respond-btn {
        margin-top: 9vw;
        margin-bottom: 3vw;
        font-size: 8vw;
        
    }

    .respond-text {
        font-size: 7vw;
    }

    .final-text {
        font-size: 8vw;
    }

    .freport-header-text {
        font-size: 7vw;
        padding: 2vw;
    }

    .final-layout-container {
        flex-direction: column;
    }

    .fd1,
    .fd2,
    .fd3,
    .fd4,
    .fd5,
    .fd6 {
        font-size: 5vw;
        padding: 1vw;

    }

    .picture-container{
        width: 90vw;
        height: 50vh;
        margin-left: 4vw;
    }

    .main-menu-btn{
        font-size: 7vw;
        padding: 3vw;
    }

    .fake-report-btn {
        font-size: 6vw;
        padding: 2vw 4vw;
        margin-top: 2vw;
    }
}